.markdown-body {
  color: #2c3e50;
  padding: 12px 0;
  font-size: 14px;
  h1 {
    font-size: 36px;
    font-weight: 400;
  }

  h2 {
    font-size: 26px;
    font-weight: 400;
    padding-top: 36px;
  }

  pre, code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  }

  p > code, table code {
    background-color: #f1f1f1;
    padding: .15em .5em;
    border-radius: 4px;
    color: #476582;
    transition: color .5s,background-color .5s;
  }

  pre {
    position: relative;
    color: #f7f7f7;
    padding: 20px 24px;
    background-color: #282c34;
    border-radius: 8px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;
    th {
      text-align: left;
      white-space: nowrap;
      color: #909399;
      font-weight: 400;
      &:first-child {
        padding-left: 10px;
      }
    }
    td, th {
      border-bottom: 1px solid #dcdfe6;
      padding: 15px;
      max-width: 250px;
    }
  }
}
